@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,100&family=Roboto:wght@300&display=swap');

/*------------------------------------------------------Colours */

.bg-color-name-title {
    background-color: #6a626296;
}

.ui-menu-color-home {
    background-color: #ddcf8e;
}

.ui-menu-color-resume {
    background-color: #fea7ff;
}

.ui-menu-color-contact {
    background-color: #abdbfb;
}

.ui-menu-color-download {
    background-color: #b5f7b7;
}

/*------------------------------------------------------Heading */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/myself.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-weight: 200;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}